{
  "parser": "babel-eslint",
  "extends": ["standart", "prettier"],
  "env": {
    "jest": true,
    "jasmine": true
  },
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": ["error", {"semi": false}]

  }
}
